.friends3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friends3 img {
    width: 30px;
    border-radius: 45px;
}

.friendsPage {
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}