.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
}


.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color: gold;
}

/* .dialog {} */

.messages1 {
    padding: 10px;
    color: white;
    text-align: left;
}

.messages2 {
    padding: 10px;
    text-align: right;
}

/* s.message {} */